body {
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 8fr;
    grid-template-columns: repeat(2, 1fr);
    background-color:#172554;
    color: white;
}

header {
    grid-column: span 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.playerGrid, .computerGrid {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    margin: 0;
}
.grid {
    height: 500px;
    width: 500px;
    background-color: #93c5fd;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.row {
    flex: 1;
    display: flex;
}

.block {
    flex: 1;
    border: 0.5px solid black;
}

.computerGrid .block:hover {
    background-color: #eff6ff;
}

.block.ship {
    background-color: green;
}